@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ropa+Sans:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$font-rubik: 'Rubik', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-sans-serif: 'Open Sans', sans-serif;
$font-outfit: 'Outfit', sans-serif;
$celestial-blue: #4A90E2;
$sky-blue: #87CEEB;
$midnight-blue: #191970;
$cosmic-white: #FFFAFA;
$stardust-white: #F8F8FF;
$galaxy-purple: #663399;
$slate-blue-100: #f0f5ff;
$slate-blue-200: #d9e3ff;
$slate-blue-300: #b3c8ff;
$slate-blue-400: #8caeff;
$slate-blue-500: #6694ff;
$slate-blue-600: #4c78cc;
$slate-blue-700: #335b99;
$slate-blue-800: #1a3e66;
$slate-blue-900: #001133;
$slate-blue-1000: #000822;
$celestial-blue-100: #e0f7ff;
$celestial-blue-200: #b3ecff;
$celestial-blue-300: #80e1ff;
$celestial-blue-400: #4dd6ff;
$celestial-blue-500: #1acbff;
$celestial-blue-600: #009ecc;
$celestial-blue-700: #007599;
$celestial-blue-800: #004c66;
$celestial-blue-900: #002333;
$celestial-blue-1000: #00121a;

body{
    background: url("../images/rm222batch3-mind-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.auth-container {
    background-color:$celestial-blue-100;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.45);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 150px auto;
    font-family: $font-outfit;

}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.sign-in-form,
.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    width: 50%;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.sign-in-form {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
}

.sign-up-form {
    opacity: 0;
    z-index: 1;
    height: 100vh;
}

// .auth-container.sign-up-mode .signin-signup {
//     transform: translateX(-100%);
// }

.auth-container.sign-up-mode .sign-in-form {
    transform: translateX(-100%);
    opacity: 0;
}

.auth-container.sign-up-mode .sign-up-form {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.auth-container.sign-up-mode .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: $galaxy-purple;
    background: -webkit-linear-gradient(to right,$celestial-blue-400, $celestial-blue-500);
    background: linear-gradient(to right, $celestial-blue-600, $celestial-blue-700);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.auth-container.sign-up-mode .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
    padding: 10px;
    .vectorleft{
        img{
            width: 150px;
            height: auto;
            margin-top: 20px;
            margin-left: 50px;
          }
    }
}

.auth-container.sign-up-mode .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
    padding: 10px;
    .vector{
      img{
        width: 150px;
        height: auto;
        margin-top: 20px;
        margin-left: 50px;
      }
    }
}

.auth-container.sign-up-mode .overlay-right {
    transform: translateX(20%);
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: linear-gradient(to right, $celestial-blue-400, $celestial-blue-500);
}

input {
    background-color: aliceblue;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    font-family: $font-outfit;
    border: 1px solid $celestial-blue-300;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);

    &:focus {
        outline: none;
        border: 1px solid $celestial-blue;
        background-color:$cosmic-white;
    }
    &.error {
        border: 1px solid red;
    }
    &.success {
        border: 1px solid green;
    }
    &:hover {
        background-color: #ddd;
        border: 1px solid $galaxy-purple;
    }
}

button {
    border-radius: 20px;
    border: 1px solid $celestial-blue-300;
    background-color: $celestial-blue-600;
    color: #FFFFFF;
    font-size: 12px;
    font-family: $font-rubik;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    &:hover {
        background-color: $celestial-blue-500;
        transform: scale(0.95);
    }
}

button:active {
    transform: scale(0.95);
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    &:hover {
        border: 1px solid $celestial-blue-400;
    }
}

.social-media-login,
.social-media-signup {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}


.facebook svg,
.google svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid $celestial-blue-600;
    padding: 10px;
    border-radius: 50%;
    color: $celestial-blue-600;
    &:hover {
        background-color: $celestial-blue-500;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        transform: scale(1.1);
    }
}
.password-strength {
    margin-top: 5px;
    font-size: 0.8em;
    
    &.weak {
      color: #ff4136;
    }
    
    &.medium {
      color: #ffdc00;
    }
    
    &.strong {
      color: #2ecc40;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .success-message, .error-message {
    margin-top: 10px;
    text-align: center;
    position: relative;
    animation: slide-in 0.5s forwards;
  }
  
  .success-message {
    color: #2ecc40;
  }
  
  .error-message {
    color: #ff4136;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    top: 10px;
    height: 50px;
    width: 200px;
    transform: translateX(-40%);
  }
  
  .hidden {
    animation: slide-out 0.5s forwards;
  }
  