@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ropa+Sans:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$font-rubik: 'Rubik', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-sans-serif: 'Open Sans', sans-serif;
$font-outfit: 'Outfit', sans-serif;

$celestial-blue: #4A90E2;
$sky-blue: #87CEEB;
$midnight-blue: #191970;
$cosmic-white: #FFFAFA;
$stardust-white: #F8F8FF;
$slate-grey: #708090;
$nebula-green: #7CFC00;
$aurora-green: #00FF7F;
$mars-red: #FF4500;
$supernova-red: #E23D28;
$galaxy-purple: #663399;
$lunar-grey: #878787;
$solar-yellow: #FDB813;
$cosmic-lavender: #E6E6FA;
$deep-space-black: #000033;

$slate-blue-700: #335b99;
$slate-blue-800: #1a3e66;
$celestial-blue-500: #1acbff;

.dashboard {
  display: flex;
  height: 100vh;
  font-family: $font-rubik;
  color: $deep-space-black;
  background-color: $stardust-white;

  .sidebar {
    width: 250px;
    background-color: $slate-blue-800;
    color: $cosmic-white;
    padding: 20px;

    .logo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: $font-jost;
    }

    nav {
      ul {
        list-style-type: none;
        padding: 0;

        li {
          padding: 10px 15px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 5px;

          &:hover, &.active {
            background-color: $slate-blue-700;
          }

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .content-area {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;

    .content {
      background-color: $cosmic-white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      h2 {
        color: $celestial-blue;
        margin-bottom: 20px;
        font-family: $font-poppins;
      }

      p {
        margin-bottom: 15px;
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-bottom: 10px;
          padding: 10px;
          background-color: $cosmic-lavender;
          border-radius: 5px;
        }
      }
    }
  }
}